body {
        background-image: url("http://www.math.rug.nl/~hansen/STAR2019/graph8.png");
        background-repeat: no-repeat;
        background-size: cover


} 

body:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(173, 253, 255, .8);
}

h1 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #333333;
}

h2 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}

p {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-left: 1em;
	margin-right: 2em;
	line-height: 1.5em;
}

p.rightalign { 
        text-align: right;
} 

ul {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	color: black;
	margin-left: 0em;
	margin-right: 2em;
	line-height: 1.5em;
	list-style-position: outside;
	list-style-type: disc;
	text-indent: 0em;
}

li.wide {
  	padding: .5em 0em;
}

address {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	text-align: right;	
	font-style: normal;	
	color: #333333;
}

/* div.container {
        width: 100%;
/*	width: 800px; (boxed layout)*/
/*	height: 600px; */
	margin: .5em;
/*	border: 1px solid black;  */
} */






div.header {
/*	height: 82px; (exact height of CWI header)  */
	height: 90px;	
    width: 1000px;
	margin-left: auto;
    margin-right: auto;	
/*	color: #333333; */
	background-color: white;
/*	border-bottom: 1px solid gray; */
	clear: right; 
}


div.topleft {
	width: 0px;
	margin-left: auto;
        margin-right: auto;
 	padding: 0em;
	float: left;
}

div.left {
	width: 100-px;
	float: left;
	padding: 0em;
	margin-top: 30px;
}



div.top {
        width: 1000px;
	margin-left: auto;
        margin-right: auto;
 	padding: 0em;
}

div.content {
/*        width: 900px; */
	margin-left: 250px;
        margin-right: 100px;
/*	border-left: 1px solid gray; */
 	padding: 0em;
/*    background-color: rgba(223,200,245, 0.7); */
}


div.footer {
	height: 45px;
        width: 1000px;
	margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
	color: #333333;
	background-color: white;
/*	border: 1px solid gray; */
	float: right;
	clear: left;	
}

div.nav {
	width: 10%;
	margin-top: 10px;
	margin-left: auto;
	clear: left;
}

a.nav {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	text-align: right;	
	color: black; 
	background-color: white; 
	width: 70px;
 	padding: .5em 1em;
	float: right;
	line-height: .5em;
	border: 1px solid white;	
}

img { 
  border: none;
}

a,a:link,a:visited {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #030196;
	text-decoration: none;
	border: none;
	font-weight: bold; 
}

a:hover {
	color:#4e4cff;
	text-decoration: underline;
}




hr {	
  color: #333333;
  background-color: #333333;
  height: 1px;
  border: 0;
  width: 750px;
}

table {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  margin-left: 1em;
  margin-right: 2em;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  margin-left: 1em;
  margin-right: 2em;

}

td {
  	padding: 0.5em 0;
}


